<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Emergency Contacts Server</title>

    <!-- Bootstrap core CSS -->
    <link href="/static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/vendor/DataTables/css/datatables.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="/static/css/custom.css" rel="stylesheet">

  </head>

  <body>

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
      <div class="container">
        <a class="navbar-brand" href="#">Emergency Contacts Server</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
              <a class="nav-link" href="/">Blocks
                <span class="sr-only">(current)</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/configure">Add Nodes</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <!--  -->
    <div class="container">

      <div class="row">
        <div class="col-lg-12">
          <div class="card-body">
            <h4 class="card-title">Records to be added to the next block &nbsp;&nbsp;&nbsp;
              <button type="submit" id="refresh_transactions" class="btn btn-sq-xs btn-primary">
                <i class="fa fa-refresh"></i>
              </button>
            </h4>
          </div>
        </div>
      </div>

    </div>

    <!-- Unlinked Transactions Table -->
    <div class="container">
      <table id="unlinked_transactions_table" class="table table-striped table-bordered" cellspacing="0" width="100%">
      </table>

      <div class="col-lg-12 text-center">
        <input type="button" id="link_button" class="btn btn-primary btn-lg" value="Link">
      </div>

    </div>

    <hr>

    <div class="container">

      <div class="row">
        <div class="col-lg-12">
          <div class="card-body">
            <h4 class="card-title">Records on the Blockchain &nbsp;&nbsp;&nbsp;
              <button type="submit" id="refresh_blockchain" class="btn btn-sq-xs btn-primary">
                <i class="fa fa-refresh"></i>
              </button>
            </h4>
          </div>
        </div>
      </div>

    </div>

    <!-- Blockchain Transactions Table -->
    <div class="container">
      <table id="transactions_table" class="table table-striped table-bordered" cellspacing="0" width="100%">
      </table>
    </div>

    <!-- Bootstrap core JavaScript -->
    <script src="/static/vendor/jquery/jquery.min.js"></script>
    <script src="/static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script type="text/javascript" src="/static/vendor/DataTables/js/datatables.min.js"></script>
    <script src="/static/vendor/DataTables/js/ellipsis.js"></script>


    <script>
      $(function(){

        $.ajax({
          url: "/transactions/get",
          type: 'GET',
          success: function(response){

              //Generate Transactions Table
              var transactions = [];
              count = 1;

              for (i = 0; i < response['transactions'].length; i++) { 

                transaction = [count,
                              response['transactions'][i]["account_ID"],
                              response['transactions'][i]['record']['name'],
                              response['transactions'][i]['record']['date_of_birth'],
                              response['transactions'][i]['record']['medical_notes'],
                              response['transactions'][i]['record']['blood_type'],
                              response['transactions'][i]['record']['weight'],
                              response['transactions'][i]['record']['height'],
                              response['transactions'][i]['record']['emergency_contact'],
                              response['transactions'][i]['record']['valid_through']
                              ];

                  transactions.push(transaction);

                  count += 1;
              };

            // Restrict a column to 10 characters, do split words
              $('#unlinked_transactions_table').dataTable( {
                data: transactions,
                columns: [{ title: "#" },
                          { title: "Account ID" },
                          { title: "Name" },
                          { title: "DoB" },
                          { title: "Medical Notes" },
                          { title: "Blood Type" },
                          { title: "Weight" },
                          { title: "Height" },
                          { title: "Contact" },
                          { title: "Valid Through"}
                        ],
                columnDefs: [ {targets: [1,2,3,4,5,6,7,8,9], render: $.fn.dataTable.render.ellipsis( 25 )}]
              } );

          },
          error: function(error){
            console.log(error);
          }
        });



        $.ajax({
          url: "/chain",
          type: 'GET',
          success: function(response){

            //console.log(response);
            //Generate Transactions Table
            var transactions = [];
            count = 1;

            for (i = 1; i < response.length; i++) { 
              for (j = 0; j < response["chain"][i]["transactions"].length; j++) {

                //format date 
                var options = {  year: "numeric", month: "short",  day: "numeric", hour: "2-digit", minute: "2-digit", second: "2-digit"  };
                var date = new Date(response["chain"][i]["timestamp"] * 1000);
                var formattedDateTime = date.toLocaleTimeString("en-us", options);

                transaction = [count,
                              response["chain"][i]["transactions"][j]["account_ID"],
                              response["chain"][i]["transactions"][j]["record"],
                              formattedDateTime,
                              response["chain"][i]["block_number"]];
                transactions.push(transaction);

                count += 1;
              };
            };

            // Restrict a column to 10 characters, do split words
              $('#transactions_table').dataTable( {
                data: transactions,
                columns: [{ title: "#" },
                          { title: "Account ID"},
                          { title: "Record"},
                          { title: "Timestamp"},
                          { title: "Block"}],
                columnDefs: [ {targets: [1,2,3,4], render: $.fn.dataTable.render.ellipsis( 25 )}]
              } );

          },
          error: function(error){
            console.log(error);
          }
        });


        $("#link_button").click(function () {

          $.ajax({
            url: "/link",
            type: "GET",
            success: function(response){

              window.location.reload();
              
            },
            error: function(error){
              console.log(error);
            }
          });

        });


        $("#refresh_transactions").click(function () {

          window.location.reload();

        });


        $("#refresh_blockchain").click(function () {

          $.ajax({
            url: "/nodes/resolve",
            type: "GET",
            success: function(response){

              window.location.reload();
              
            },
            error: function(error){
              console.log(error);
            }
          });

        });


        

      })





    </script>



  </body>

</html>
